html,body{
    height: 100%;
}

body {
    background-color: rgb(96, 135, 219);
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    color: #fff;
}

.list{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    max-width: 960px;
}

.list-item{
    flex-basis: 280px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(../images/thumb02.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.list-item_image img{
    border-radius: 50%;
    width: 80px;
    margin-top: 120px;
}

.list-item_name{
    margin: 0;
    font-size: 24px;
    color: #385555;
}

.list-item_action{
    display: flex;
    justify-content: space-evenly;
    background-color: #e5e5e5;
    padding: 16px;
}